.jasmijn {
width:  250px;
margin-top: 50px;

}


body{
  background-color: #fff600;
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;
}
h1 {
  font-size: 80px;
  color: #d49d42;
}
.cold-smiley{
  width: 200px;
  position: absolute;
  top: 73px;
  right: 500px;
}
.devil-smiley{
  width: 240px;
  position: absolute;
  top: 100px;
  right: 150px;
}
